body {
    margin: 0;
    overflow: hidden;
}

#ui { 
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
    z-index: 10;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
